{% load url from future %}

<h1>Loader.io - Perform Test Page</h1>
<h3>Authors</h3>
<p><a href="{% url 'author-list' %}">Authors lists (ListAPI view)</a></p>
<p><a href="{% url 'author-list-json' %}">Authors lists (in JSON) - /authors/?format=json</a></p>
<h4>Seperate author list (ListAPI view)</h4>
<ul>
    {% for author in authors %}
        <li>
            <!-- this URL is built manually -->
            <a href="{% url 'author-instance' author.id %}">{{ author.id }}. {{author.first_name}}
                {{author.last_name}}</a>
        </li>
    {% endfor %}
</ul>
<h4>Seperate author list (in JSON) - /authors/{id - from 1 to 10}/?format=json</h4>
<ul>
    {% for author in authors %}
        <li>
            <!-- this URL is built manually -->
            <a href="{% url 'author-instance-json' author.id %}">{{ author.id }}. {{author.first_name}}
                {{author.last_name}}</a>
        </li>
    {% endfor %}
</ul>
<h3>JSON Generator</h3>
<p>Form to generate a JSON (by default - /json?timeSleep=0&iterations=10)</p>
<p>JSON consist of randomly generated uuid, datetime and match details (random contestants picked up from dictionary
    and random final game state) of dummy fixtures.</p>
<form action="{% url 'json_view' %}">
    TimeSleep: <input type="text" name="timeSleep" value="0"><br>
    Iterations: <input type="text" name="iterations" value="10"><br>
    <input type="submit" value="Generate">
</form>